.card {
  border: none;
  padding-bottom: 120px;
}
.card-container {
  padding: 40px;
}

.card-block img:hover {
  transition: transform 0.22s;
  transform: scale(0.98);
}

.card-block img {
  transition: transform 0.22s;
}

.text-left {
  padding-top: 0px;
  padding-left: 5px !important;
}

.card-title {
  padding-top: 4%;
}
.card-text {
  color: grey;
}

@media (min-width: 759px) {
  .left-cards {
    padding-right: 50px;
  }
}

@media (max-width: 759px) {
  .card-container {
    padding: 25px;
  }
}
