.sideDrawer {
  height: 100%;
  background-color: black;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
}

.sideDrawer ul {
  height: 55%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12%;
}

.sideDrawer li {
  margin: 0rem 0;
}

.sideDrawer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.9rem;
}

.sideDrawer a:hover,
.sideDrawer a:active {
  color: #fa923f;
}

.sideDrawer.open {
  transform: translateX(0);
}

.sideDrawer button {
  font-size: 17px;
  height: 80%;
  width: 60%;
  background-color: transparent;
  color: white;
  margin-top: 10%;
  outline: none;
}

.sideDrawer p {
  margin: 0px;
  padding-top: 1px;
  color: grey;
}

.sideDrawer .email {
  margin-top: 39%;
  padding-left: 12%;
  font-size: 14px;
}

.sideDrawer .subDesc {
  margin-top: 5%;
}
