.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 4%;
  flex-direction: column;
}

.contact-container h1 {
  font-size: 45px;
  margin: 0px !important;
}

.project {
  padding-top: 6%;
}
.talk {
  color: #a5a7ac;
}

.contact-container button {
  background-color: #323232;
  color: white;
  width: 165px;
  height: 60px;
  outline: none;
  margin-top: 4%;
  border: 1px solid black;
}

.projectButton:active {
  background-color: black;
  color: white;
}

.projectButton:hover {
  background-color: black;
  color: white;
}
