@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body,
html {
  background-color: #202226;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-position: center top;
  background-image: url("./img/Asset.svg") no-repeat;
  font-family: "Lato", sans-serif;
}
.container-fluid {
  overflow-x: hidden;
}
section:nth-last-child(2) {
  background-color: #202226;
}

section:nth-last-child(1) {
  background-color: #f7f9fb;
}

.svg {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.spinner {
  margin-top: -25%;
}

.projectCardLeft {
  display: flex;
}

.projectCardRight {
  display: flex;
}

@media (max-width: 759px) {
  .card {
    margin: 0 auto;
  }
}

.container-fluid {
  padding: 0px !important;
}

.fill {
  min-height: 100%;
  height: 100%;
}

article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: grid;
}

.headroom--scrolled {
  transition: transform 420ms ease-in-out !important;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height 0.5s ease-in-out;
}

