body,
html {
  height: 100%;
  height: 100vw;
  min-height: 100%;
  width: 100%;
  background-position: center top;
  background-image: url("./img/Asset.svg") no-repeat;
}
.container-fluid {
  overflow-x: hidden;
}
section:nth-last-child(2) {
  background-color: #202226;
}

.svg {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.spinner {
  margin-top: -25%;
}

.projectCardLeft {
  display: flex;
}

.projectCardRight {
  display: flex;
}

@media (max-width: 759px) {
  .card {
    margin: 0 auto;
  }
}

.container-fluid {
  padding: 0px !important;
}

.fill {
  min-height: 100%;
  height: 100%;
}

article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: grid;
}

.left-half {
  background: #ff9e2c;
  grid-column: 1;
}

.right-half {
  background: #b6701e;
  grid-column: 2;
}
